extends layout

block content
  h1= "Control Automático (v0.1)"
  script.
     function controlRele(id){
     	console.log('Cerrando el rele ' + id)
     }
  .container
     .main-content
       form#controlPanel(name="control",method="post",action="/relay")
       span #{subtitle}
       
       button#submit(onclick='controlRele(1)') Switch R1
       button#submit(onclick='controlRele(2)') Switch R2
